@use "../../base/shortcut-functions" as f;
@use "../modules" as modules;

.top-page {
  main {
    .splide {
      width: 125.6rem;

      .splide__list {
        .splide__slide {
          figure {
            position: relative;

            &::after {
              content: "";
              position: absolute;
              inset: 0;
              background-image: linear-gradient(128deg, rgba(255, 255, 255, 0) 40%, rgba(0, 0, 0, 0.8) 100%);
            }
          }
        }
      }
    }
  }
}

@include f.mq(sp) {
}
